
<% if !(current_user.answered_questions.pluck(:quiz_id).uniq.include?(quiz.id)) %>

 <li>

  <%= link_to quiz.title, quiz %>
  <% if current_user.admin? && !current_user?(@user) %>
    | <%= link_to "Delete", quiz, method: :delete,
                                  data: { confirm: "You sure?" } %> |
      <%= link_to "Edit", edit_quiz_path(quiz) %>

  <% end %>

 </li>

<% else %>

<li>

  <%= quiz.title %> - COMPLETED

  <% if current_user.admin? && !current_user?(@user) %>
    | <%= link_to "Delete", quiz, method: :delete,
                                  data: { confirm: "You sure?" } %> |
      <%= link_to "Edit", edit_quiz_path(quiz) %>

  <% end %>

</li>

<% end %>


