<% provide(:title, @quiz.title) %>
<div class="row mainpage-container">
  <div class="col-md-12">
      <h1>
      </h1>
  </div>
</div>

<%= form_tag(answered_questions_path, method: "POST") do %>

  <%= @quiz.title %>

  <%= hidden_field_tag :id, @quiz.id %>

  <% @quiz.questions.each do |question| %>

    <%= fields_for 'answered_questions[]', question do |answer_ques| %>

      <h4><%= question.question_title %></h4>

      <%= answer_ques.hidden_field :question_id, :value => question.id %>
      <%= answer_ques.hidden_field :quiz_id, :value => @quiz.id %>
      <%= answer_ques.hidden_field :user_id, :value => current_user.id %>
      <%= answer_ques.select(:answer_ids, options_for_select(question.answers.map{|q| [q.answer_title, q.id]})) %>
    <% end %>
  <% end %>

  <%= submit_tag %>

<% end %> 