<% provide(:title, @quiz.title) %>
<div class="row mainpage-container">
  <div class="col-md-12">
      <h1>
        <%= @quiz.title %>
        <% @quiz.questions.each do |question| %>
        	<h4><%= question.question_title %></h4>
        	<% question.answers.each do |answer| %>
            <%= answer.answer_title %>
        	<% end %>
        <% end %>
      </h1>
  </div>
</div>

<%= form_for(:answered_question, url: answered_questions_path) do |f| %>

  <% @quiz.questions.each do |question| %>

    <%= f.hidden_field :question_id, :value => question.id %>
    <%= f.hidden_field :quiz_id, :value => @quiz.id %>

    <!-- question title -->
    <h3><%= f.label question.question_title %></h3>


      <%= f.collection_select(:answer_id, question.answers, :id, :answer_title, {:prompt   => "Select an Answer"}) %>


  <% end %>

  <!-- submit -->
  <p>
    <%= f.submit %>
  </p>

<% end %> 